* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

/* .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
} */

@keyframes rotate{
    form {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#太极-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#太极 {
    position: relative;
    /* border: 1px solid red; */
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.54);
    animation: rotate 5s linear infinite;
}

#太极>div:first-child {
    position: absolute;
    /* border: 1px solid blue; */
    height: 5rem;
    width: 2.5rem;
    background-color: #000;
}

#太极>div:nth-child(2) {
    position: absolute;
    left: 2.5rem;
    /* border: 1px solid green; */
    height: 5rem;
    width: 2.5rem;
    background-color: #fff;
    overflow: hidden;
}

#太极>div:nth-child(3) {
    position: absolute;
    left: 50%;
    margin-left: -1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    /* border: 1px solid green; */
    border-radius: 1.25rem;
    background-color: #000;
}

#太极>div:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    /* border: 1px solid green; */
    border-radius: 1.25rem;
    background-color: #fff;
}

#太极>div:nth-child(5) {
    position: absolute;
    top: .9375rem;
    left: 50%;
    margin-left: -0.3125rem;
    width: .625rem;
    height: .625rem;
    /* border: 1px solid green; */
    border-radius: 1.25rem;
    background-color: #fff;
}

#太极>div:nth-child(6) {
    position: absolute;
    bottom: .9375rem;
    left: 50%;
    margin-left: -0.3125rem;
    width: .625rem;
    height: .625rem;
    /* border: 1px solid green; */
    border-radius: 1.25rem;
    background-color: #000;
}

h2 {
    margin-top: 1em;
}